<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minecraft</title>
</head>
<body>
<h1>Minecraft</h1>
<p>В Minecraft игроки могут добывать ресурсы, строить различные структуры и исследовать обширные миры, состоящие из различных биомов. Игра предлагает как творческий режим, где нет ограничений на строительство, так и режим выживания, где игроки должны защищаться от монстров и управлять своими ресурсами.</p>
<button><a href="platform">Вернуться обратно</a></button>
</body>
</html>